@import '../../components/common/sass/mixins.scss';
@import '../../components/common/sass/variables.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.failure_container {
    height: 100%;
    width: 100%;
    @include flexBox(nowrap, column, center, center);

    .failure_icon {
        height: 70px;
        width: 70px;
        color: $primary_color;
        margin-bottom: 20px;
    }

    .message {
        color: $secondary_color;
        font-family: $primaryFont;
        font-size: $secondaryTitle;
        margin-bottom: 20px;
    }
}