@import '../components/common/sass/mixins.scss';
@import '../components/common/sass/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 100px;
    background: $additional_color;
    @include flexBox(nowrap, row, flex-end, center);
}