@import '../components/common/sass/mixins.scss';
@import '../components/common/sass/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 100px;
    background: $additional_color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    opacity: 0.95;
    @include flexBox(nowrap, row, flex-end, center);
}