// colors
$primary_color: #ff4500;
$secondary_color: #ffffff;
$background_color: #001C30;
$additional_color: #16224b;

//font-sizes
$primaryTextSize: 22px;
$secondaryTextSize: 20px;
$normalTextSize: 18px;
$smallTextSize: 16px;
$xsmallTextSize: 13px;

$primaryTitle: 33px;
$secondaryTitle: 25px;