@import '../components/common/sass/variables.scss';
@import '../components/common/sass/mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.skills_container {
    border: 1px solid #fff;
    width: 80%;
    margin: 50px auto 150px;
    padding-bottom: 20px;
    @include flexBox(nowrap, column, center, center);

    @media screen and (max-width: 820px) {
        margin-bottom: 100px;
    }

    @media screen and (max-width: 520px) {
        margin-bottom: 50px;
    }
}