@import '../components/common/sass/variables.scss';
@import '../components/common/sass/mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.skills_container {
    width: 80%;
    margin: 50px auto;
    padding-bottom: 20px;
    @include flexBox(nowrap, column, center, center);
}