@import '../sass/variables.scss';
@import '../sass/mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title {
    min-height: 100px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    @include flexBox(nowrap, row, center, center);

    h2 {
        color: $secondary_color;
        font-size: 33px;
        letter-spacing: 2px;
        font-weight: 500;
        position: relative;

        &::before {
            content: '';
            width: 75px;
            background-color: $primary_color;
            bottom: -20px;
            position: absolute;
            height: 2px;
            left: 50%;
            transform: translate(-50%, 50%);
        }
    }
}