* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project_box {
    background-color: #16224b;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.img_container {
    min-height: 60%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.img_container a {
    height: 100%;
    width: 100%;
    opacity: 0;
    text-decoration: none;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_container a:hover {
    height: 100%;
    width: 100%;
    text-decoration: none;
    opacity: 0.7;
    background-color: #16224b;
    transition: 0.5s ease-in;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.project_description_box {
    min-height: 35%;
    min-width: 100%;
    padding: 15px;
}

.project_title {
    font-size: 22px;
    margin: 0 0 5px;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;

}

.project_description {
    min-height: auto;
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 460px) {
    .project_box {
        width: 400px;
        height: 500px;
    }
}