* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project_box {
    background-color: #16224b;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    border: #16224b 2px solid;
    box-shadow: #ff4500 0px 2px 15px;
    position: relative;
}

.project_box a {
    color: aliceblue;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}

.project_box a:hover {
    opacity: 0.8;
    background-color: #001C30;
    transition: ease-in-out all 0.4s;
}

.project_box a:not(:hover) {
    transition: ease-in-out all 0.4s;
}

.img_container {
    min-height: 60%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.project_description_box {
    min-height: 35%;
    min-width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.project_title {
    margin: 0 0 5px;
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 1;
    color: #ff4500;
}

.project_description {
    min-height: auto;
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 500px) {
    .project_box {
        height: 350px;
    }

    .img_container {
        min-height: 50%;
    }

    .project_description_box {
        min-height: 50%;
        padding: 15px 10px;
    }
}

@media screen and (max-width: 450px) {


    .img_container {
        min-height: 40%;
    }

    .project_description_box {
        min-height: 60%;
        padding: 15px 10px;
    }

    .project_title {
        font-size: 20px;
    }
}