@import '../components/common/sass/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .nav_container {
        width: 400px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            color: $primary_color;
            font-size: 18px;
            letter-spacing: 2px;
            position: relative;
        }

        a:hover {
            color: $secondary_color;
            transition: ease-in-out all 0.55s;
        }

        a:not(:hover) {
            transition: ease-in-out all 0.55s;
        }

        a::after {
            position: absolute;
            content: '';
            display: block;
            width: 0%;
            height: 2px;
            background: $primary_color;
            margin: auto;
            transition: .4s;
            bottom: -5px;
        }

        a:hover:after {
            width: 100%;
        }

        @media screen and (max-width: 520px) {
            width: 350;
            justify-content: space-evenly;
        }
    }

    @media screen and (max-width: 520px) {
        width: 100%;
    }

    @media screen and (max-width: 1210px) {
        align-items: center;
    }
}