* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.nav_container {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #ff4500;
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
}

.nav a:hover {
    color: #ffffff;
    transition: ease-in-out all 0.55s;
}

.nav a:not(:hover) {
    transition: ease-in-out all 0.55s;
}

.nav a::after {
    position: absolute;
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: #ff4500;
    margin: auto;
    transition: .4s;
    bottom: -5px;

}

.nav a:hover:after {
    width: 100%;

}

/* media-queries */

@media screen and (max-width: 520px) {
    .nav {
        width: 100%;
    }

    .nav_container {
        width: 350;
        justify-content: space-evenly;

    }
}

@media screen and (max-width: 1210px) {
    .nav {
        align-items: center;
    }
}