*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    min-height: 20vh;
    background-color: lawngreen;
}

.footer_container {
    border: solid 1px;
    min-height: 20vh;
    width: 75%;
    background-color: violet;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer_container .fullname {
    background-color: coral;
}

.footer_container .link_container {
    height: 50px;
    background-color: azure;
    display: flex;
    justify-content: space-between;
    max-width: 280px;
    width: 100%;
}

.footer_container .link_container .link {
    height: 100%;
    width: 50px;
    background-color: lightslategray;
}



.footer_container .copyright {
    background-color: coral;
}
