@import '../components/common/sass/variables.scss';
@import '../components/common/sass/mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    height: 200px;

    @media screen and (max-width: 420px) {
        height: 120px;
        padding: 5px;
        margin-bottom: 15px;
    }

    @media screen and (max-width: 500px) {
        height: 150px;
    }

    .footer_container {
        height: 100%;
        width: 80%;
        margin: 0 auto;
        color: $secondary_color;
        letter-spacing: 1px;
        font-size: 18px;
        @include flexBox(nowrap, column, space-evenly, center);

        .link_container {
            height: 50px;
            display: flex;
            justify-content: space-between;
            max-width: 230px;
            width: 100%;

            .link {
                height: 100%;
                width: 50px;
                @include flexBox(nowrap, row, center, center);

                .icon {
                    height: 75%;
                    width: 75%;
                    color: $primary_color;

                    &:hover {
                        transform: scale(1.15) translateY(-3px);
                        transition: .3s;
                    }

                    @media screen and (max-width: 420px) {
                        height: 60%;
                        width: 60%;
                    }
                }

                .icon:not(:hover) {
                    transition: .3s;
                }
            }

            @media screen and (max-width: 420px) {
                height: 50px;
            }
        }

        .copyright span {
            color: $primary_color;
        }

        @media screen and (max-width: 420px) {
            font-size: 15px;
        }
    }
}