@import '../../common/sass/mixins.scss';
@import '../../common/sass/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  background: $additional_color;
  @include flexBox(nowrap, column, center, flex-end);

  .nav_container {
    width: 400px;
    height: 50px;
    background: $additional_color;
    @include flexBox(nowrap, row, space-between, center);

    a {
      text-decoration: none;
      color: $primary_color;
      font-size: $secondaryTextSize;
      letter-spacing: 2px;
      position: relative;
      cursor: pointer;
      background: $additional_color;

      &:hover {
        color: $secondary_color;
        transition: ease-in-out all 0.2s;
      }

      &:not(:hover) {
        transition: ease-in-out all 0.2s;
      }

      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 0%;
        height: 2px;
        background: $primary_color;
        margin: auto;
        transition: 0.2s;
        bottom: -10px;
      }

      &:hover:after {
        width: 100%;
      }
    }

    .active {
      color: $secondary_color;

      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 0%;
        height: 2px;
        background: $primary_color;
        margin: auto;
        transition: 0.2s;
        bottom: -10px;
        width: 100%;
      }
    }

    @media screen and (max-width: 520px) {
      width: 330;
      justify-content: space-evenly;
    }

    .nav_container > * {
      cursor: pointer;
    }
  }

  @media screen and (max-width: 520px) {
    display: none;
  }

  @media screen and (max-width: 1210px) {
    align-items: center;
  }
}
