@import '../components/common/sass/variables.scss';
@import '../components/common/sass/mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projects {

    .projects_container {
        width: 80%;
        margin: 50px auto;
        padding-bottom: 20px;

        .projects_box_container {
            @include flexBox(wrap, row, space-evenly, center);
        }
    }
}