* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projects {
    background-color: #001C30;
    border: 1px solid white;
}

.projects_container {
    border: solid 1px white;
    width: 75%;
    margin: 0 auto;
}

.projects_title h2 {
    background-color: coral;
}

.projects_box_container {
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}