* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projects {
    background-color: #001C30;

    .projects_container {
        width: 80%;
        margin: 0 auto;
    }

    .projects_box_container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
}